/* #region Global styles*/
html, body {
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    flex: auto;
}
h1 {
    font-size: 40px;
    top: 20px;
    position: relative;
}
h2 {
    color: hsl(228, 12%, 44%);
    font-size: 28px;
    top: -100px;
    position: relative;
}
h3 {
    font-size: 16px;
    position: relative;
    top: 0px;
    color: hsl(228, 12%, 44%);
}
p {
    position: relative;
    color: hsl(228, 12%, 44%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* #endregion */
/* #region Header*/
header {
    display: inline-block;
    width: 100%;
    background-color: hsl(225, 100%, 98%);
    height: 280px;
}
hr {
    display: none;
}
.color-toggle {
    float: right;
    top: -83px;
    position: relative;
    width: 180px;
    display: flex;
}
.header-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    }
.toggle {
    color: hsl(228, 12%, 44%);
    font-weight: bold;
    font-size: 19px;
    flex: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(180deg);
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(228, 12%, 44%);
    background-image: none;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 6px;
    bottom: 3px;
    background-color: #20222f;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {

    background-color: #3f95cd; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #3f95cd , #3ecc8e);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(228, 12%, 44%);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
    background-color: white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* #endregion */
/* #region Top KPIs*/
.kpi-card {
  background: #ebf1ff;
  height: 250px;
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}

.kpi-wrapper {
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  top: -120px;
  display: flex;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.card-top-facebook {
  width: 300px;
  height: 5px;
  background-color: #168ff7;
  border-radius: 8px 8px 0px 0px;
}
